@import "../../style.scss";

.rightbar{
    @include themify($themes){
    flex: 3;
    position: sticky;
    top:70px;
    //Calculate height required by sidebar to be sticky
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bgSoft");

    //Removes slider while scrolling
    &::-webkit-scrollbar{
        display: none;
    }

    .container{
        padding: 20px;
        .item{
            padding: 20px;
            -webkit-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.38);
            -moz-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.38);
            box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.38);
            margin-bottom: 20px;
            background-color: themed("bg");
            span{
                color: gray;
            }
            .user{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0px;

                .userInfo{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                
                    img{
                        width:40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 40px;
                    }

                    .online{
                        width: 12px;
                        height: 12px;
                        border-radius: 50px;
                        background-color: limegreen;
                        position: relative;
                    }

                    p{
                        font-size: 15px;
                        color: themed("textColorSoft");

                    }
                    span{
                        font-weight: 500;
                        font-size: 15px;
                        color: themed("textColor");
}
                }
            .button{
                display: flex;
                align-items: center;
                gap: 10px;

            button{
                border: none;
                padding: 5px;
                color: white;
                cursor: pointer;
                // background-color: rgb(4, 4, 77);

                &:first-child{
                    background-color: rgb(8, 8, 120);
                }

                &:last-child{
                    background-color: red;
                }
            }
            }
            }
        }
    }
}}